@import '~bootstrap/scss/bootstrap';
@import '~bootstrap/scss/bootstrap-grid';

body{
    background-color:#15155f;   
}

.jumbotron{
    margin-top: 32px;
}

.open{
    min-width:100%;
}

.board:hover{
    cursor: pointer;
    box-shadow: 2px 2px 2px 2px rgb(0,0,0,0.4);
}

/* .pizarra:hover{
    width: 420px;
    height: 155px;
} */

#canvas-1{
    background-color: white;
}

.active{
    display: block;
    border-radius: 5px;
}

.board{
    display: inline-block;
    width: 300px;
    height: 300px;
    background-color: white;
}

.no-active{
    display: none !important;
}